name: Generate Changelog RSTs

on:
  workflow_dispatch:
    inputs:
      codeql_branch:
        description: The branch in github/codeql from which to generate the CHANGELOG.md (codeql-cli-X.Y.Z)
        required: true
      reviewer:
        description: The user handle to whom to assign as reviewer.
        required: true

permissions:
  contents: write
  pull-requests: write

jobs:
  spark-sitedocs:
    runs-on: ubuntu-slim
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        ref: ${{ inputs.codeql_branch }}

    - name: Create new branch
      run: git switch -c "spark-${{ inputs.codeql_branch }}-${{ github.run_id }}"

    - name: Install Spark's dependencies
      run: |
        sudo apt update
        sudo apt install libpcre3

    - name: Download Spark
      working-directory: ${{ runner.temp }}
      env:
        # TODO: Use a PAT with sufficient permissions to github/codeql-spark.
        GH_TOKEN: ${{ secrets.CODEQL_SPARK_OWASP_TOKEN }}
      run: |
        # TODO: Change the -R argument to "github/codeql-spark".
        gh -R dsp-testing/mario-campos-docs-workflow release download v1.0.0
        unzip "spark-$RUNNER_OS-$RUNNER_ARCH.zip"

    # NOTE: this step will fail if the security-coverage data is outdated,
    #       which can happen immediately after a new version of CodeQL is released.
    # TODO: Dispatch the github/codeql-owasp-top10-coverage workflow before this workflow.
    - name: Generate ReStructuredText documentation from Markdown documentation
      working-directory: ${{ runner.temp }}
      env:
        # TODO: Use a PAT with sufficient permissions to github/codeql-owasp-top10-coverage.
        GH_TOKEN: ${{ secrets.CODEQL_SPARK_OWASP_TOKEN }}
      run: ./spark sitedocs "$GITHUB_WORKSPACE/docs/codeql/codeql-overview/codeql-changelog"

    - name: Check for changes to CodeQL docs
      id: changes
      run: |
        if git diff --quiet
        then
          echo 'No changes to CodeQL docs detected; nothing to commit.'
          echo "changed=false" >> "$GITHUB_OUTPUT"
        else
          echo "changed=true" >> "$GITHUB_OUTPUT"
        fi

    - name: Commit changes
      if: steps.changes.outputs.changed == 'true'
      run: |
        git config user.name 'github-actions[bot]'
        git config user.email '41898282+github-actions[bot]@users.noreply.github.com'

        git add .
        git commit -m 'update codeql documentation'
        git push -u origin HEAD

    - name: Create PR
      if: steps.changes.outputs.changed == 'true'
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        cat >body.txt <<EOF
        This pull request was automatically generated to synchronize the CodeQL changelog reST documentation based on recent changes in branch `${{ inputs.codeql_branch }}`.

        #### Overview
        - Ensures the reST documentation remains current with the source Markdown changelogs.
          - Incorporates any updates detected in the Markdown sources.
          - Regenerates ReStructuredText documentation for the CodeQL changelog.

        #### Next Steps
        - Please review the rendered docs and verify that the changelog content is correct.
        - Once this pull request is approved, it should be automatically merged soon by Prior.
        EOF

        gh pr create \
          --assignee ${{ inputs.reviewer }} \
          --reviewer ${{ inputs.reviewer }} \
          --base '${{ inputs.codeql_branch }}' \
          --title 'Update changelog reST documentation' \
          --body-file body.txt \
          > pr-link.txt

    - name: Upload PR link as an artifact
      if: steps.changes.outputs.changed == 'true'
      uses: actions/upload-artifact@v5
      with:
        path: pr-link.txt
        if-no-files-found: error
